.NavBg{
    background-color: #BFD0E0;
    /*afd2e9
    Pogledaj koja ti se boja više sviđa za nav
    */
}
.Logo{
    margin-left: 10px;
    width: 25px;
    height:30px;
}
.Jumbotron{
    height: 350px;
}
/*Card main Section*/
.Images{
    height: 50vh;
    width: 380px;
}
.FloatLeft{
    float: left;
}
.displayFlex{
    display: flex;    
}
.ColorSection{
    background-color: #BFD0E0;
    color: #5D737E;
}

.MainTextSection{
    margin-left: 15px;
}

.AddWithSpace{
    padding: 10px;
    margin-top: 15px;
}
.LinkStyle{
    text-decoration: underline;
    color:#5D737E;
}

.Button{
    background-color: #EFF1F3;
    border-radius: 5px;
    border:2px solid #EFF1F3;
}
.Video{
    text-align: center;

}
.AddSpace{
    display: flex;
    justify-content: space-between;
}
/*Footer section*/
.FooterSection{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
